.pre code {
  counter-reset: line;
  counter-increment: line 0;
}

.pre code :global(.line)::before {
  content: counter(line);
  counter-increment: line;
  @apply mr-6 inline-block w-6 text-right text-base-content/60;
}
